@model BancoNM.Cargos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cargos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCargo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
