@{
    ViewBag.Title = "SOBRE NOSOTROS";
}
<h3>@ViewBag.Title.</h3> 

<h4>NUESTRA HISTORIA</h4>


<p>Explora la trayectoria de la principal institución financiera de capital privado del país, fundada en 2010 y cuy​as puertas se abrieron al público en enero de 2011.</p>

<H4>COMPROMISO SOCIAL</H4>
<p>Somos una empresa socialmente responsable, reconocida por el Pacto Global de Naciones Unidas. Apoyamos proyectos sostenibles, relacionados con el medioambiente, la educación, la salud, la gestión social, y el arte y la cultura dominicanos.</p>
