@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>


<address>
    CALLE GUSTAVO MEJIA RICART<br />
    NACO,SANTO DOMINGO, DISTRITO NACIONAL, RD<br />
<abbr title="Phone">TELEFONOS: (809-552-1141) (809-502-1241)</abbr>
    
</address>

<address>
    <strong>SERVICIO AL CLIENTE:</strong>   <a href="mailto:SERVICIOS@BANCONM.COM">SERVICIOS@BANCONM.COM</a><br />
    <strong>INFORMACION:</strong> <a href="mailto:INFORMACION@BANCONM.COM">INFORMACION@BANCONM.COM</a>
</address>