@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 class="display-4" style="color:white;">Si aún no sabes cuál de nuestras soluciones es la indicada para ti, descúbrelo aquí…</h3>
    <p class="lead" style="color:white;">¿Estás buscando un prestamo o abrir una cuenta de ahorros?</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/account/login2" role="button" style="color:white;">ABRIR UNA CUENTA</a>
        <a class="btn btn-primary btn-lg" href="/account/login2" role="button" style="color:white;">PRESTAMO</a>

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prestamos Personales</h2>
        <p>
            Cuenta con nosotros si estás buscando remodelar tu casa, irte de viaje o incluso consolidar tus deudas.
        </p>
        <p><a class="btn btn-primary" href="/navegacion/solicitudes" style="color:white;">Mas informacion. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cuentas</h2>
        <p>Garantiza tu futuro a través de la cuenta ideal para que realices ahorros y transacciones bancarias.</p>
        <p><a class="btn btn-primary" href="/navegacion/solicitudes" style="color:white;">Mas Informacion. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calculadora de Prestamos</h2>
        <p>Cada meta tiene una forma de lograrse, te ayudamos a tomar la decisión correcta..</p>
        <p><a class="btn btn-primary" href="https://www.sib.gob.do/calculadora-de-prestamos" style="color:white;">¡Calcula lo que necesitas! &raquo;</a></p>
    </div>
</div>