
@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Consultas</h2>

<div class="contentBoxMaster">
    <div class="contentBoxMasterBox1">
        <div class="contentMaster">



            <div class="clr"></div>

            <div class="panelIzquierdo">
                <div class="btn-group-vertical">

                    <a href="/Cliente/Consulta" class="btn btn-success">Clientes</a>
                    <a href="/Empleado/Consulta" class="btn btn-success">Empleados</a>
                    <a href="/Prestamos/Consulta" class="btn btn-success">Prestamos</a>
                    <a href="/PagoPrestamos/Consulta" class="btn btn-success">Pagos de prestamo</a>
                    <a href="/CuentaA/Consulta" class="btn btn-success" style="width:200px">Cuentas de ahorros</a>
                </div>
            </div><!--end panelIzquierdo-->

            <div class="panelCentral" style="width:750px;">
                <div class="jumbotron">
                    <h1 class="display-3" style="color:white;">Consultas!</h1>
                    <p class="lead" style="color:white;">Como cliente del banco puedes obtener los resultados de las busquedas dependiendo el modulo que elijas, con la particularidad de descargar un reporte que tenga la informacion buscada.</p>
                    <hr class="my-4">
                    <p style="color:white;">Ve al cuadro de la izquierda para consultar.</p>
                    <p class="lead">
                        
                </div>
            </div><!--end panelCentral-->



        </div><!--end contentMaster-->
    </div><!--end contentBoxMasterBox1-->
</div><!--end contentBoxMaster-->