
@{
    ViewBag.Title = "Mantenimientos_";
    Layout = "~/Views/Shared/_compartido.cshtml";
}

<h2>Mantenimientos</h2>

<div class="contentBoxMaster">
    <div class="contentBoxMasterBox1">
        <div class="contentMaster">



            <div class="clr"></div>

            <div class="panelIzquierdo">
                <div class="btn-group-vertical">

                    <a href="/Departamentos/index" class="btn btn-success">Departamentos</a>
                    <a href="/Cliente/index" class="btn btn-success">Clientes</a>
                    <a href="/Empleado/index" class="btn btn-success">Empleados</a>
                    <a href="/Nacionalidad/index" class="btn btn-success">Nacionalidades</a>
                    <a href="/Cargo/index" class="btn btn-success">Cargos</a>
                    <a href="/Monedas/index" class="btn btn-success">Monedas</a>
                    <a href="/CuentaA/index" class="btn btn-success">Cuenta de Ahorro</a>
                    <a href="/CreditoCA/index" class="btn btn-success">Credito a la cuenta de ahorro</a>
                    <a href="/DebitoCA/index" class="btn btn-success">Debito a la cuenta de ahorro</a>
                    <a href="/Usuarios/index" class="btn btn-success" style="width:200px">Usuarios</a>
                </div>
            </div><!--end panelIzquierdo-->

            <div class="panelCentral" style="width:750px;">
                <div class="jumbotron">
                    <h1 class="display-3" style="color:white;">Hello, world!</h1>
                    <p class="lead" style="color:white;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p style="color:white;">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button" style="color:white;">Learn more</a>
                    </p>
                </div>
            </div><!--end panelCentral-->
        </div><!--end contentMaster-->
    </div><!--end contentBoxMasterBox1-->
</div><!--end contentBoxMaster-->
